@use "./variables" as vars;

.background {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	//непрацює нормально, бо хз
	//background: url("../img/background.jpg") no-repeat center/cover;
	background-size: cover;
	z-index: -1;
	background-color: vars.$muted-color;
	transition: top vars.$trans-anim;
	img {
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
		max-height: 817px;
	}
}
.desktop {
	display: flex;
	background: transparent;
	padding: 20px 0;
	.container {
		display: flex;
	}
	&__title {
		display: flex;
		align-items: center;
		color: vars.$light-text-color;
		margin-right: 110px;
	}
	&__list {
		display: flex;
		gap: 21px;
		margin-right: 345px;
		align-items: center;
		&__item {
			&__link {
				color: vars.$light-text-color;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		max-width: 190px;
		max-height: 52px;
		border: 0;
		border-radius: 5px;
		padding: 15px 25px;
		text-align: center;
		background-color: vars.$primary-color;
		color: vars.$light-text-color;
		text-transform: capitalize;
		gap: 15px;
		svg {
			color: vars.$light-text-color;
		}
	}
}
.mobile {
	display: none;
	background: transparent;
	padding: 20px 0;
	background-color: vars.$light-gray-2;
	.container {
		display: flex;
		align-items: baseline;
	}
	&__title {
		display: flex;
		align-items: center;
		color: vars.$text-color;
		margin-right: 95px;
	}
	&__icons-list {
		display: flex;
		gap: 24px;
		margin-right: 345px;
		align-items: center;
		&__item {
			&__button {
				// color: vars.$light-text-color;
				background: none;
				border: 0;
				outline: 0;
			}
		}
	}
	&__nav-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 85px 0;
		gap: 30px;
		a {
			color: vars.$second-text-color;
			font-size: 30px;
			font-weight: 400;
			line-height: 1.5em;
			letter-spacing: 0.02em;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		max-width: 190px;
		max-height: 52px;
		border: 0;
		border-radius: 5px;
		padding: 15px 25px;
		text-align: center;
		background-color: vars.$primary-color;
		color: vars.$light-text-color;
		text-transform: capitalize;
		gap: 15px;
		svg {
			color: vars.$light-text-color;
		}
	}
}
// #burger-list {
// 	background-color: vars.$light-gray-2;
// 	position: absolute;
// 	top: -50%;
// 	left: 0;
// 	width: 100%;
// 	transition: top vars.$trans-anim;
// 	z-index: -1; /* Високий шар для меню */
// }
// .fake {
// 	position: relative;
// 	top: -100%;
// 	left: 0;
// 	width: 100%;
// 	transition: top vars.$trans-anim;
// 	height: 440px;
// 	z-index: 1;
// }
// #burger-list.is-visible,
// #burger-list.is-visible + .fake {
// 	top: 7%; /* Показати меню */
// }

// #burger-list.is-visible + .background {
// 	top: 50%;
// }

#burger-list {
	background-color: vars.$light-gray-2;
	position: absolute;
	top: -57%; /* Початкове розташування за межами екрана */
	left: 0;
	width: 100%;
	transition: top vars.$trans-anim;
	z-index: 0; /* Високий шар для меню */
}

/* Стилі для .fake */
.fake {
	position: relative;
	top: -100%; /* Початкове розташування .fake */
	left: 0;
	width: 100%;
	padding-top: 0; /* Висота псевдоелементу */
	transition: padding-top vars.$trans-anim;
	z-index: -1; /* Задній план */
}

/* Стилі для .background */
.background {
	position: absolute;
	top: 7%; /* Початкове розташування фону */
	left: 0;
	width: 100%;
	transition: top vars.$trans-anim;
	z-index: -1; /* Фон повинен бути позаду */
}

/* Коли меню стає видимим */
#burger-list.is-visible {
	top: 7%; /* Переміщаємо #burger-list вниз */
}

/* Коли меню видно, відсуваємо .fake і .background */
#burger-list.is-visible + .fake {
	padding-top: 440px; /* Рухаємо .fake вниз разом з меню */
}

#burger-list.is-visible + .fake + .background {
	top: 54%; /* Переміщаємо фон вниз */
}

@include vars.mobile {
	.desktop {
		display: none;
	}
	.mobile {
		display: flex;
	}
}
