$primary-color: #23a6f0 !default;
$secondary-color-1: #40bb15 !default;
$secondary-color-2: #3c403d !default;
$text-color: #252b42 !default;
$second-text-color: #737373 !default;
$light-text-color: #ffffff !default;
$dark-background-color: #252b42 !default;
$light-background-color: #ffffff !default;
$hover-color: #2a7cc7 !default;
$disabled-element-color: #8ec2f2 !default;
$muted-color: #bdbdbd !default;
$success-color: #2dc071 !default;
$alert-color: #e77c40 !default;
$danger-color: #e74040 !default;
$light-gray-1: #fafafa !default;
$light-gray-2: #ececec !default;

// $background-gradient-1:  ГРАДІЄНТ;
$montserrat-font: "Montserrat", sans-serif !default;
$trans-anim: 0.5s ease !default;
$trans-anim-slow: 1s ease !default;

@mixin mobile {
	@media screen and (min-width: 400px) and (max-width: 727.9px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 728px) and (max-width: 1439.9px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: 1440px) {
		@content;
	}
}
